.benefit-section {
  background: url(../../images/benefit-line.png) calc(50% - 290px) 40px / 990px 15px no-repeat;
}

.benefit {
  margin-bottom: 200px;
}

.benefit__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.benefit__item {
  width: 350px;

  img {
    margin-bottom: 40px;
  }
}

.benefit__title {
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.benefit__text {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
.benefit-line{
  display: none;
}
@media only screen and (max-width:947px){
  .benefit{
    position: relative;
  }
  .benefit-section{
    background: none;
  }
  .benefit__list{
    flex-direction: column;
  }
  .benefit__item{
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 0 auto;
  }
  .item_box{
    width: 398px;
  }
  .benefit-line{
    display: block;
    position: absolute;
    left: calc(50%   - 710px );
    transform: rotate(90deg );
    z-index: -1;
  }
}
@media only screen and (max-width:607px){
  .benefit{

  }
  .benefit-line{
    display: none;
  }
  .benefit__item{
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .item_box{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
}