.site-header {
  background-color: #fff;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header {
  padding: 22px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.open,
.close {
  display: none;
  width: 18px;
  height: 18px;
  z-index: 713px10;
}

.header__list {
  width: 249px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.header__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;

  &:hover {
    color: #FCB72B;
  }
}

.site-logo {
  padding-right: 58px;
}

.header__item {
  padding-right: 32px;
}

.header__btn {
  margin-left: auto;
}

.btn {
  padding: 14px 39px;
  display: inline-block;
  text-decoration: none;
  border: 3px solid transparent;
}

.btn-yellow {
  background-color: #FCB72B;
  color: #fff;
}

.btn-yellow:hover {
  color: #FCB72B;
  border: 3px solid #FCB72B;
  background-color: #fff;
}

.btn-light {
  color: #FCB72B;
  border: 3px solid #FCB72B;
  background-color: #fff;

  &:hover {
    color: #fff;
    background-color: #FCB72B;
    border: 3px solid transparent;
  }
}

@media only screen and (max-width:700px) {
  .site-logo {
    margin: 0 auto;
    padding: 0;
  }

  .open {
    display: block;
    width: 20px;
    height: 16px;
    cursor: pointer;
  }

  .block {
    display: block;
  }

  .none {
    display: none;
  }

  .header__list {
    position: absolute;
    top: 76px;
    left: -320px;
    display: flex;
    padding: 64px 0 0 32px;
    width: 256px;
    height: 100vh;
    gap: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #333A44;
  }

  .header-mobile {
    left: -32px;
  }

  .header__btn {
    position: absolute;
    bottom: -86vh;
    left: -320px;
  }
}