.header {
  padding: 22px 0px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  position: fixed;
  background-color: #fff;
}

.header__list {
  width: 249px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.header__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;

  &:hover {
    color: #FCB72B;
  }
}

.site-logo {
  padding-right: 58px;
}

.header__item {
  padding-right: 32px;
}

.header__btn {
  margin-left: auto;
}

.btn {
  padding: 14px 39px;
  display: inline-block;
  text-decoration: none;
  border: 3px solid transparent;
}

.btn-yellow {
  background-color: #FCB72B;
  color: #fff;
}

.header__btn:hover {
  color: #FCB72B;
  border: 3px solid #FCB72B;
  background-color: #fff;
}

.btn-light {
  color: #FCB72B;
  border: 3px solid #FCB72B;
  background-color: #fff;

  &:hover {
    color: #fff;
    background-color: #FCB72B;
    border: 3px solid transparent;
  }
}

@media only screen and (max-width:700px) {
  .header__list {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
  }

  .header__btn {
    display: none;
  }
}