.hero-section {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(29, 45, 70, 0.4), rgba(25, 34, 48, 0.4)), url(../../images/hero-img.png) center/cover no-repeat;
}

.hero {
    padding-top: 153px;
    width: 500px;
    

    h1 {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
        color: #FFFFFF;
        margin-bottom: 40px;
    }

    p {
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        padding-left: 60px;
        text-align: center;
       
       
    }
    .p-wrapper{
        &::before{
            content: url(../../images/path-img.svg);
            position: relative;
            top: 54px;
            left: -292px;
        }
        &:after{
            content: url(../../images/path4-img.svg);
            position: relative;
            right: -527px;
            top: -56px;
        }
    }
}